<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style_t1.css" />
</head>
<body><br><br><br><br>
<table align="center" width="100%" style="max-width:400px;">
 <thead>
 <th>
       <div class="for_btn">
<a href="/workers" class="btn">Workers</a>
    </div>
 </th>
 <th>
         <div class="for_btn">
    <a href="/clients" class="btn">Clients</a>
    </div>
 </th>
 <th>
        <div class="for_btn">
    <a href="/jobs" class="btn">Jobs</a>
    </div>
 </th>
 </thead>


</table>
</body>
</html>